body {
    background-image: url('../imagenes/fondoLogin.jpg');
    background-size: cover; /* Esto hará que la imagen cubra todo el viewport */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-attachment: fixed; /* Esto hará que la imagen de fondo se fije en su posición */
}

.card {
  
    overflow: hidden;

    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.card-header {
    font-weight: bold;
    border-bottom: none;
    color: #ffff;
    background-color: #1c2544;
}

.btn-primary {
    background-color: #1c2544;
    border-color: #007BFF;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}